*,
* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Safari */
  -webkit-user-select: none;
  /* IE 10 and IE 11 */
  -ms-user-select: none;
  /* Standard syntax */
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}

html {
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: normal;
  background-color: #656565;
}

@media screen and (max-width: 40em) {
  body {
    font-size: 2.5vw;
  }
}